## Build results
[Bb]in/
[Oo]bj/

## Visual Studio / VS Code
.vs/


## User-specific files
*.user
*.suo
RELEASE.md

## NuGet
*.nupkg
*.snupkg

## OS
.DS_Store
Thumbs.db

## Test Results & Coverage
/TestResults/**
/coverage/**
/coveragereport/**
code-coverage-results.md

## Build Artifacts
/artifacts/**